@inherits LayoutComponentBase
@inject NavigationManager navigation

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
            <RadzenLabel Text="File Analyzer" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Analyzer" Icon="science" Click="@(() => navigation.NavigateTo("/"))" />
            <RadzenPanelMenuItem Text="Historical" Icon="history" Click="@(() => navigation.NavigateTo("historical"))" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        Made with <RadzenIcon Icon="favorite" IconColor="@(Colors.Danger)"/> by Ronaldo Olmeda
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebar1Expanded = true;
}
